# Banco (usado pelo serviço postgres e pelo backend)
POSTGRES_USER=gestao
POSTGRES_PASSWORD=gestao123
POSTGRES_DB=gestao_escalas

# Backend
DATABASE_URL=postgresql://gestao:gestao123@postgres:5432/gestao_escalas?schema=public
APP_PORT=4000
NODE_ENV=production
JWT_SECRET=change_me

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:4000
